/* Title + subtitle on homepage */
.title {
  font-size: 90px;
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

.animated-title {
  display: inline-block;
  color: var(--color-darkblue);
}

.cursor {
  color: #000;
  animation: blink 1s infinite step-end; 
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.subtitle {
  font-size: 24px;
  color: var(--color-black);
  font-family: 'neulis-sans', 'Arial', sans-serif;
  width: 100%;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.see-my-work-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  border: 2px solid var(--color-darkpink);
  color: var(--color-darkpink);
  text-decoration: none;
  border-radius: 50px;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.see-my-work-button:hover {
  border: 2px solid var(--color-pink);
  color: var(--color-pink);
  /* box-shadow: 0px 0px 15px #ddeaff; */
}

.who-am-i-title {
  font-family: 'neulis-cursive', sans-serif;
  font-size: 50px;
  margin: 0px 0px 30px 0px;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  border-radius: 10px;
  margin-bottom: 50px;
}

.title-column {
  margin-bottom: 30px;
}

.who-am-i-title {
  font-size: 50px;
  margin: 50px 0px 25px 0px;
  color: #000;
}

.experience-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--color-lightblue);
}

.circle-check-icon {
  stroke: #000;
  margin-top: 5px;
}

.experience-item h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.experience-item p {
  font-size: 18px;
  color: #000;
  line-height: 1.5;
  margin-bottom: 10px;
}

.title-column .experience-item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 20px; /* Space between items */
}

/* Toolkit Section */
.toolkit-section {
  text-align: center;
}

.toolkit-title {
  font-family: 'neulis-cursive', sans-serif;
  font-size: 50px;
  margin: 0px 0px 30px 0px;
  text-align: left;
}

/* Carousel Wrapper */
.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Carousel Container */
.carousel-container {
  display: flex;
  gap: 20px; 
  animation: scroll-carousel 25s linear infinite; 
  will-change: transform; 
}

/* Carousel Items */
.carousel-item {
  border: 2px solid var(--color-lightblue);
  color: #000;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  height: 125px; 
  width: 125px;
  flex-shrink: 0; 
}

.carousel-item:hover {
  cursor: pointer;
}

/* Duplicate Items for Infinite Scroll */
.carousel-container::after {
  content: '';
  display: flex;
}

/* Keyframes for Seamless Continuous Scrolling */
@keyframes scroll-carousel {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(calc(-150px * 22)); 
  }
}

/* Responsive Styles */
/* 1281px - 1025px styles */
@media (max-width: 1281px) and (min-width: 1025px) {
  .title {
    font-size: 80px;
  }
  .subtitle {
    font-size: 22px;
    margin-bottom: 45px;
  }
  .button-container {
    margin-bottom: 45px;
  }
  .see-my-work-button {
    font-size: 22px;
  }
  .who-am-i-title {
    margin: 0px 0px 25px 0px;
  }
  .title-column {
    margin-bottom: 25px;
  }
  .who-am-i-title {
    font-size: 50px;
    margin: 45px 0px 25px 0px;
    color: #000;
  }
  .experience-item h2 {
    font-size: 16px;
  }
  .experience-item p {
    font-size: 16px;
  }
  .toolkit-title {
    font-size: 45px;
    margin: 0px 0px 25px 0px;
  }
  .carousel-item {
    font-size: 16px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .title {
    font-size: 70px;
  }
  .subtitle {
    font-size: 21px;
    margin-bottom: 40px;
  }
  .button-container {
    margin-bottom: 40px;
  }
  .see-my-work-button {
    font-size: 21px;
  }
  .title-column {
    margin-bottom: 20px;
  }
  .who-am-i-title {
    font-size: 45px;
    margin: 40px 0px 20px 0px;
    color: #000;
  }
  .experience-item h2 {
    font-size: 16px;
  }
  .experience-item p {
    font-size: 16px;
  }
  .toolkit-title {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
  }
  .carousel-item {
    font-size: 16px;
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .title {
    font-size: 59px;
  }
  .subtitle {
    font-size: 19px;
    margin-bottom: 30px;
  }
  .button-container {
    margin-bottom: 30px;
  }
  .see-my-work-button {
    font-size: 19px;
  }
  .who-am-i-title {
    margin: 0px 0px 20px 0px;
    font-size: 40px;
  }
  .title-column {
    margin-bottom: 20px;
  }
  .experience-section {
    margin-bottom: 30px;
  }
  .experience-item h2 {
    font-size: 1px;
  }
  .experience-item p {
    font-size: 16px;
  }
  .toolkit-title {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
  }
  .carousel-item {
    font-size: 16px;
    height: 100px; 
    width: 100px;
  }
  .project-card p:nth-of-type(2) {
    font-size: 19px;
  }
}