.contact-container {
  display: flex;
  gap:25px;
}

/* Contact Me side of the page */
.contact-left {
  flex: 30%;
}

.contact-container p {
  font-size: 18px;
  color: #000;
  line-height: 1.5;
  padding-bottom: 10px;
}

/* Email link */
.email-link {
  margin-bottom: 20px;
  color: var(--color-darkblue);
}

.email-link:hover {
  color: var(--color-blue);
}

/* Social media links */
.social-links {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0px;
  margin-top: 0px;
}

.social-link {
  color: var(--color-darkblue);
  font-size: 30px;
  text-decoration: none;
  position: relative;
  padding-right: 10px;
}

.social-link:hover {
  color: var(--color-blue);
}

/* Tooltip styles */
.social-link::after {
  content: attr(title); /* Displays the title as tooltip */
  position: absolute;
  background-color: #000000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  visibility: hidden;
  white-space: nowrap;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 16px;
}

.social-link:hover::after {
  opacity: 1;
  visibility: visible;
}

/* Form side of the page */
.contact-right {
  flex: 40%;
}

/* Contact form */
.contact-form {
  display: flex;
  flex-direction: column;
}

/* Contact form 1st and 2nd row */
.name-fields,
.country-number-fields {
    display: flex;
    justify-content: flex-start;
}

.name-fields label:nth-child(2),
.country-number-fields label:nth-child(2) {
    margin-left: 25px; /* Adds 25px space to the left of the second label */
}

/* All input box labels */
.contact-form label {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  color: #000;
  font-weight: 450;
}

.required-note p {
  font-size: 18px;
  color: #000;
  line-height: 1.5;
  margin-bottom: 50px;
  font-weight: 400;
}

.email-label {
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 450;
}

/* Input boxes */
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: auto;
  margin-top: 5px;
}

/* Button */
.contact-form button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  border: 2px solid var(--color-darkblue);
  color: var(--color-darkpink);
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  margin: 20px auto;
  font-size: 24px;
  letter-spacing: .5px;
}

.contact-form button:hover {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
}
