.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 50px;
  gap:50px;
}

.hero-text {
  flex: 0 0 60%;
  text-align: left;
  font-family: "neulis-cursive", sans-serif;
}

.intro-image {
  flex: 0 0 40%;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Centers the image horizontally */
  align-items: center;
}

.intro-image img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 100px;
  margin: 0;
  line-height: 1.2;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--color-black);
  font-family: 'neulis-sans', 'Arial', sans-serif;
  width: 100%;
  padding-bottom: 25px;
}

/* Header.css */
.animated-title {
  display: inline-block;
  color: var(--color-darkblue);
}

/* Add a sliding effect */

.title span {
  display: inline-block;
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  from {
    transform: translateX(-100%);
    /* Start from the left */
    opacity: 0;
  }

  to {
    transform: translateX(0);
    /* Move to original position */
    opacity: 1;
  }
}