.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "neulis", sans-serif;
    font-weight: 600;
    margin: 0px 100px;
  }

  .logo {
    height: 70px;
    width: 70px;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
  background-color: var(--color-lightblue);
  padding: 10px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.navbar-links li a{
  color: var(--color-darkblue);  
}

.navbar-links li a:hover {
  color: var(--color-black);  
  background-color: var(--color-lightblue);  
  border-radius: 50px;
}

.navbar-links li a:active {
  color: var(--color-black);  
  background-color: var(--color-lightblue);  
  border-radius: 50px;
}
  
  nav ul li {
    display: inline;
  }

  nav a {
    color: var(--color-darkblue);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    padding: 15px
  }
  