/* Filter Buttons Container */
.filter-buttons {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

/* Filter Button Styles */
.filter-buttons button {
  color: var(--color-darkblue);
  background: none;
  border: none;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  cursor: pointer;
}

/* Underline Effect */
.filter-buttons button::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: var(--color-blue);
  border-radius: 10px;
  transition: width 0.4s ease, left 0.4s ease, transform 0.4s ease;
}

/* Hover and Active Styles */
.filter-buttons button:hover::after,
.filter-buttons button.active::after {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-blue);
}

.filter-buttons button:hover {
  color: var(--color-blue);
}

.filter-buttons button.active,
.filter-buttons button:active {
  color: var(--color-blue);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
  border-radius: 5px;
  width: calc(50% - 35px);
  text-align: center;
  overflow: hidden;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid var(--color-darkblue);
}

.project-card:hover {
  transform: scale(1.03);
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid var(--color-blue);
}

.project-card img {
  width: 100%;
  height: auto;
}

/* Targets all text on card */
.project-card a {
  text-decoration: none;
  color: var(--color-black);
}

/* Targets project titles on card */
.project-card h2 {
  /* padding: 15px 10px 0px 10px; */
  font-size: 26px;
  color: #000;
}

/* Targets the first <p> (type) on card */
.project-card p:nth-of-type(1) {
  padding: 0px 25px;
  margin: 0px;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

/* Targets the second <p> (cta) on card */
.project-card p:nth-of-type(2) {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  border: 2px solid var(--color-darkblue);
  color: var(--color-darkblue);
  text-decoration: none;
  border-radius: 50px;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.project-card a .project-cta {
  /* Add styles specific to project-cta */
  color: var(--color-darkblue);
  padding: 8px 20px;
}

/* Targets the second <p> (cta) on card */
.project-card p:nth-of-type(2):hover {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  transition: transform 0.15s ease;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Enlarged cursor on button hover */
.custom-cursor.cursor-hover {
  transform: translate(-50%, -50%) scale(2);
}

/* Media Queries */
@media (max-width: 1281px) and (min-width: 1025px) {
  .see-my-work-button {
    font-size: 22px;
  }
}

/* 768px styles */
@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 20px);
  }
  .project-card p:nth-of-type(2) {
    font-size: 19px;
  }
}

/* 460px styles */
@media (max-width: 480px) {
  .project-card {
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  .filter-buttons {
    margin: 30px 0px 30px 0px;
  }
  .filter-buttons button {
    font-size: 20px;
  }
  .project-card h2 {
    font-size: 20px;
  }
  .project-card p:nth-of-type(1) {
    font-size: 16px;
  }
  .project-card p:nth-of-type(2) {
    font-size: 17px;
  }
}