/* Filter Buttons Container */
.filter-buttons {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

/* Filter Button Styles */
.filter-buttons button {
  color: var(--color-darkblue);
  background: none;
  border: none;
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  cursor: pointer;
}

/* Underline Effect */
.filter-buttons button::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: var(--color-lightblue);
  border-radius: 10px;
  transition: width 0.4s ease, left 0.4s ease, transform 0.4s ease;
}

/* Hover and Active Styles */
.filter-buttons button:hover::after,
.filter-buttons button.active::after {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-blue);
}

.filter-buttons button:hover {
  color: var(--color-black);
}

.filter-buttons button.active,
.filter-buttons button:active {
  color: var(--color-black);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: calc(33.333% - 20px);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Targets all text on card */
.project-card a {
  text-decoration: none;
  color: var(--color-black);
}

/* Targets project titles on card */
.project-card h2 {
  padding: 15px 10px 0px 10px;
  padding-top: 5px;
}

/* Targets the first <p> (type) on card */
.project-card p:nth-of-type(1) {
  padding: 0px;
  margin: 0px;
}

/* Targets the second <p> (cta) on card */
.project-card p:nth-of-type(2) {
  color: var(--color-darkblue);
  font-weight: 600;
  padding-bottom: 15px;
}

/* Targets the second <p> (cta) on card */
.project-card p:nth-of-type(2):hover {
  color: var(--color-black);
  font-weight: 600;
}
