/* body {
  font-family: 'neulis-sans', 'Arial', sans-serif;
  padding: 0px 225px;
  box-sizing: border-box;
} */
.portfolio-h2 {
  margin-top: 50px;
  font-size: 50px;
}

/* Filter Buttons Container */
.filter-buttons {
  text-align: center;
  margin: 50px 0px 50px 0px;
}

/* Filter Button Styles */
.filter-buttons button {
  color: var(--color-darkblue);
  background: none;
  border: none;
  font-weight: 400;
  font-size: 27px;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  transition: color 0.3s;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  cursor: pointer;
}

/* Underline Effect */
.filter-buttons button::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: var(--color-blue);
  border-radius: 10px;
  transition: width 0.4s ease, left 0.4s ease, transform 0.4s ease;
}

/* Hover and Active Styles */
.filter-buttons button:hover::after,
.filter-buttons button.active::after {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-blue);
}

.filter-buttons button:hover {
  color: var(--color-blue);
}

.filter-buttons button.active,
.filter-buttons button:active {
  color: var(--color-blue);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
  border-radius: 7px;
  width: calc(50% - 35px);
  text-align: center;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid var(--color-darkblue);
  position: relative;
  background-color: var(--color-lightblue)
}

.project-card:hover {
  transform: scale(1.03);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid var(--color-blue)
}

.project-card img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

/* To make the overlay appear on hover */
.project-card .project-info .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(172, 189, 220, 0.9);
  color: var(--color-darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 27px;
}

.project-card:hover .project-info .overlay {
  opacity: 1; 
}

.project-card a {
  text-decoration: none;
  color: var(--color-black);
}

.project-card h2 {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  font-weight: 450;
  padding: 10px 25px 0px 25px;
}

.project-card p:nth-of-type(1) {
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  padding: 0px 25px 25px 25px;
  margin: 0px;
}

.project-card p:nth-of-type(2) {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  border: 2px solid var(--color-darkblue);
  color: var(--color-darkblue);
  text-decoration: none;
  border-radius: 50px;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.project-card p:nth-of-type(2):hover {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  transition: transform 0.15s ease;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Enlarged cursor on button hover */
.custom-cursor.cursor-hover {
  transform: translate(-50%, -50%) scale(2);
}

/* Images + Captions */
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1rem; */
}
.caption-toggle-icon {
  background: #ddeaff;
  border: 2px solid #3d4662;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite;
  transition: all 0.2s ease-in-out;
}
.caption-toggle-icon svg {
  stroke: #3d4662;
}
.image-caption {
  background-color: rgba(221, 234, 255, 0.85);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 20px;
  display: none; /* default hidden */
}
.image-caption.open {
  display: block;
}
.image-caption.hidden {
  display: none; /* ensures no background or padding shows */
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.caption-toggle-icon:hover {
  border: 2px solid #9dacc9;
  transform: scale(1.2);
}
.caption-toggle-icon:hover svg {
  stroke: #9dacc9;
}
.caption-toggle-icon.active {
  border: 2px solid #9dacc9;
  transform: scale(1.2);
  animation: none;
}
.caption-toggle-icon:active svg {
  stroke: #9dacc9;
}

.two-in-row .section-label {
  font-weight: normal; /* title not bold */
}
.two-in-row .section-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  gap: 1.5rem;
}



/* Mobile: show toggle icon, tap to expand */
@media (max-width: 1281px) {
  .image-caption.hidden {
  display: none;
  }

  .portfolio-h2 {
    font-size: 45px;
  }
  .filter-buttons button {
    font-size: 24px !important;
  }
  /* p, */
  .project-card p:nth-of-type(1),
  .project-card h2 {
    font-size: 17px;
  }
  .project-card .project-info .overlay {
    font-size: 24px;
  }
  .image-caption {
    line-height: 1.25;
  }
}

@media (max-width: 1024px) {
  .portfolio-h2 {
    font-size: 40px;
  }
  .project-card a .project-cta {
    font-size: 21px; 
  }
  /* p, */
  .project-card p:nth-of-type(1),
  .project-card h2 {
    font-size: 17px;
  }
  .filter-buttons button,
  .project-card .project-info .overlay {
    font-size: 21px !important; 
  }
}

/* 768px styles */
@media (max-width: 767px) {
  .project-card {
    width: calc(50% - 20px);
  }
  .filter-buttons button {
    font-size: 21px !important;
  }
  .project-card h2 {
    padding: 10px;
  }
  .image-caption {
    padding: 1rem;
    font-size: 16px !important;
    line-height: 1.2;
  }
  .caption-toggle-icon {
  width: 45px;
  height: 45px;
  }
}

/* 460px styles */
@media (max-width: 480px) {
  .portfolio-h2 {
    font-size: 40px;
  }
  .project-card {
    width: 100%;
  }
  .project-card p:nth-of-type(1),
  .project-card h2 {
    font-size: 16px;
  }
  .filter-buttons {
    margin: 30px 0px 30px 0px;
  }
  .filter-buttons button {
    font-size: 21px !important;
    margin-bottom: 10px;
    padding: 10px;
  }
  .project-card p:nth-of-type(2) {
    font-size: 17px;
  }
  .project-card .project-info .overlay {
    font-size: 21px;
  }
  .portfolio-message {
    font-size: 16px;
  }
  .image-caption {
    padding: 1rem;
    font-size: 16px !important;
    line-height: 1.2;
  }
  .caption-toggle-icon {
  width: 40px;
  height: 40px;
  }
}

@media (min-width: 2250px) {
  .portfolio-h2  { 
    font-size: 60px;
    margin: 75px 0px 30px 0px;
  }
  .filter-buttons button,
  .project-card .project-info .overlay {
    font-size: 28px;
  }
  p {
    font-size: 21px;
  }
  .project-card h2 {
    font-size: 21px;
    padding: 15px 30px;
  }
  .project-card p:nth-of-type(1) {
    font-size: 21px;
    padding: 0px 30px 30px 30px;
  }
  .project-cards {
    gap: 30px;
  }
}