:root {
  --color-lightblue:  #ddeaff;
  --color-blue: #acbddc;
  --color-darkblue: #313647;
  --color-lightpink: #fbe3e6;
  --color-pink: #fbe3e6;
  --color-pink: #f1919b;
  --color-darkpink: #993e55;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  font-family: "neulis", sans-serif;
  margin: 0px 100px;
  padding: 0;
  box-sizing: border-box;
}