/* Global Styles */
:root {
  --color-lightblue:  #ddeaff;
  --color-blue: #9dacc9;
  --color-darkblue: #3d4662;
  --color-lightpink: #ddeaff;
  --color-pink: #9dacc9;
  --color-darkpink: #3d4662;
  --color-black: #000000;
  --color-white: #ffffff;
}
body {
  margin: 0px;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  padding: 0px 225px;
  box-sizing: border-box;
  background-color: #F8F9FB;
}

html {
  overflow-y: scroll; /* Always show the vertical scrollbar */
}

h1 {
  font-family: 'neulis-cursive', sans-serif;
  margin: 0px;
}

h2 {
  font-size: 26px;
}

p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.5;
}

li {
  line-height: 30px;
  margin-bottom: 5px;
}

/* ----- Nav Bar Styles ----- */
/* Navbar container */
.navbar {
  background-color: var(--color-lightblue) !important;
  width: 100vw;
  position: relative;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw; 
  padding: 15px 225px;
  box-sizing: border-box; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  z-index: 1000;
}

/* Logo container */
.logo {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  transform: scale(1.10);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Navbar links container */
.navbar-links {
  display: flex;
  gap: 15px;
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
  list-style-type: none !important;
}

/* Navbar links styling */
.navbar-links li a {
  color: var(--color-darkblue);
  text-decoration: none !important;
  transition: color 0.3s;
  position: relative;
  padding: 10px;
  border: 2px solid var(--color-darkblue);
  border-radius: 50px;
  font-family: 'neulis-sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.navbar-links li a:hover {
  color: var(--color-blue);
  padding: 10px;
  border: 2px solid var(--color-blue);
  border-radius: 50px;
  width: auto;
  margin-top: 5px;
}

/* Active Link Styles */
.navbar-links li a.active,
.navbar-links li a:active {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  border-radius: 50px;
  position: relative;
}

.navbar-links li a:not(:hover)::after {
  left: 50%;
  transform: translateX(-50%);
}

.scroll-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 70px;
  height: 70px;
  padding: 10px;
  font-size: 24px;
  font-weight: 800;
  color: var(--color-darkblue);
  border: 2px solid var(--color-darkblue);
  background-color: #DDEAFF;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.scroll-button:hover {
  background-color: #DDEAFF;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}

/* ----- Footer Styles ----- */
footer {
  background-color: var(--color-lightblue) !important;
  width: 100vw;
  position: relative;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw; 
  padding: 0px 225px;
  box-sizing: border-box; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  z-index: 1000;
  margin-top: 50px;
}

footer p {
  color: var(--color-darkblue);
  text-align: left;
  flex: 1;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  justify-content: center;
  padding-top: 5px;
}

.footer-links {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  font-size: 18px;
}

footer a {
  color: var(--color-darkblue);
  text-decoration: none;
  font-weight: 450;
}

footer a:hover {
  color: var(--color-pink);
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none; /* Hide on larger screens */
}

/* Enlarged cursor on button hover */
.custom-cursor.cursor-hover {
  transform: translate(-50%, -50%) scale(2);
}


/* Responsive Styles */
/* 1281px - 1025px styles */
@media (max-width: 1281px) and (min-width: 1025px) {
  /* main {
    margin: 0 20px;
  } */
  body {
    padding: 0px 125px;
  }
  body.homepage .header-container {
    padding: 50px 100px;
  }
  .custom-cursor {
    display: none;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
  .menu-bars {
    font-size: 2rem;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    color: var(--color-darkblue);
  }
  .hamburger:hover {
    color: var(--color-blue);
  }
  .navbar {
    padding: 15px 125px;
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    width: 150px;
    align-items: flex-end;
    transition: display 0.3s ease;
  }
  .navbar-links.open {
    display: flex;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 0px;
    background-color: #fff;
    border: 2px solid var(--color-lightblue);
  }
  .navbar-links li {
    text-align: right;
    padding: 5px;
    width: auto;
    padding-right: 38px;
    padding-left: 50px;
    border: none;
  }
  .navbar-links li a {
    padding: 0px;
    border: none;
  }
  .navbar-links li a.active,
  .navbar-links li a:hover,
  .navbar-links li a:active {
    border: none;
  }
  .scroll-button {
    width: 65px;
    height: 65px;
  }
  footer {
    padding: 15px 125px
  }
  footer p {
    margin: 0px;
    text-align: left;
    font-size: 17px;
    line-height: 25px;
  }
  footer a {
    font-size: 17px;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  /* main {
    margin: 0 75px;
  } */
  body {
    padding: 0px 50px;
  }
  .custom-cursor {
    display: none;
  }
  .navbar {
   padding: 15px 75px;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
  .menu-bars {
    font-size: 2rem;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    color: var(--color-darkblue);
  }
  .hamburger:hover {
    color: var(--color-blue);
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    width: 145px;
    align-items: flex-end;
    transition: display 0.3s ease;
  }
  .navbar-links.open {
    display: flex;
    margin-right: 69px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
    border: 2px solid var(--color-lightblue);
  }
  .navbar-links li {
    text-align: right;
    padding: 5px;
    width: auto;
    padding-right: 35px;
    padding-left: 25px;
    border: none;
  }
  .navbar-links li a {
    padding: 0px;
    border: none;
  }
  .navbar-links li a.active,
  .navbar-links li a:hover,
  .navbar-links li a:active {
    border: none;
  }
  body.homepage .header-container {
    padding: 50px 75px !important;
  }

  footer {
    padding: 5px 75px;
  }

  .scroll-button {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 766px) {
  main {
    margin: 0px;
  }
  body {
    padding: 0px 50px;
  }
  .custom-cursor {
    display: none;
  }
  .navbar {
    padding: 15px 50px;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
  .menu-bars {
    font-size: 2rem;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    color: var(--color-darkblue);
  }
  .hamburger:hover {
    color: var(--color-blue);
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    width: 65px;
    align-items: flex-end;
    transition: display 0.3s ease;
  }
  .navbar-links.open {
    display: flex;
    margin-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 50px;
    background-color: #fff;
    border: 2px solid var(--color-lightblue);
  }
  .navbar-links li {
    text-align: right;
    padding: 5px;
    width: auto;
    padding-right: 25px;
    padding-left: 25px;
    border: none;
  }
  .navbar-links li a {
    padding: 0px;
    border: none;
    font-size: 16px;
  }
  .navbar-links li a.active,
  .navbar-links li a:hover,
  .navbar-links li a:active {
    border: none;
  }
  .footer-links {
    margin: 0px 50px 0px 30px;
  }
  footer {
    flex-direction: column; 
    align-items: center;
    padding: 20px 0;
  }
  footer p {
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    margin: 0px;
  }
  .footer-links {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: center;
  }
  footer a {
    font-size: 16px !important;
  }
  .scroll-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) { 
  body {
    padding: 0px 25px;
  }
  .navbar {
    padding: 15px 25px;
  }
  .navbar-links li {
    margin: 0px;
  }
  .scroll-button {
    bottom: 10px;
    right: 10px;
  }
  .navbar-links.open {
    display: flex;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 50px;
    background-color: #fff;
    border: 2px solid var(--color-lightblue);
  }
}

@media (min-width: 2250px) {
  body {
    padding: 0px 375px;
  }
  .navbar {
    padding: 35px 375px;
  }
  .logo {
    height: 90px;
    width: 90px;
  }
  .logo:hover {
    transform: scale(1.15);
  }
  .navbar-links {
    gap: 18px;
  }
  .navbar-links li a,
  .navbar-links li a:hover {
    font-size: 21px;
    padding: 12px;
  }
  footer {
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw; 
    margin-right: -50vw; 
    padding: 10px 375px;
    z-index: 1000;
    margin-top: 75px;
  }
  footer p {
    font-size: 19px;
  }
  .footer-links {
    gap: 30px;
  }
  footer a {
    font-size: 19px;
  }
  .scroll-button {
    bottom: 35px;
    right: 35px;
  }
}